html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

     

td,
th {
    border-color: #7e8c8d;
    border-width: 0.8px;
    border-style: solid;
}

tbody tr td:first-child {
    color: #000;
    background-color: #ebebeb
}

thead tr th {
    color: #000;
    background-color: #cdd3d6
}

.strong{
    font-weight: 700;
    text-align: left; 
}




body,
table {
    font-family: Arial;
    font-size: 14px;
    background: #fff
}

table {
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
}

th {
    background: #ebebeb;
    text-align: center;
}

tr {
    text-align: center;
}

tr th:first-child,
tr td:first-child {
    text-align: left;
}

strong {
    font-size: 16px;
    color: #002664
}

.heading {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}


main {
    display: table-row;
    height: 100%;
    width: 100%;
}

.container {
    display: table;
    width: 100%;
    height: 100%;
}

header,
footer {
    padding: 6px;
}

header {
    background-color: #002664;
    color: white;
}

footer {
    background-color: #eeeeee;
    padding: 4px;
    text-align: center;
}

.content {
    display: table;
    height: 100%;
    width: 100%;
}

.content>.page {
    display: table-row;
    height: 100%;
}

.content>.page>.info {
    vertical-align: top;
    display: table-cell;
    height: 100%;
    width: 30%;
    padding: 4px;
}

.content>.page>.map {
    display: table-cell;
    border-left: #d7153a solid 3.4px;
    height: 100%;
}

.closebtn,
.flowbtn,
.basemapbtn {
    border: none;
    display: inline-block;
    padding: 2px 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 49%;
    border: 1px solid #fff;
    background-color: #eee;
}

.closebtn:hover,
.flowbtn:hover,
.basemapbtn:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.scrollable {
    overflow-y: scroll;
    height: 100%;
}

#viewDiv {
    height: 100%;
}

.btnselected {
    background-color: #ccc;
}

/*phone*/
@media screen and (max-width: 480px) {
    .content>.page>.info {
        display: block !important;
        width: 100% !important;
    }

    .content>.page>.map {
        display: block !important;
    }

    .flowbtn,
    .basemapbtn {
        display: block;
        width: 100% !important;
    }

    .scrollable {
        height: 33vh;
    }

    .content>.page>.map {
        border-top: #d7153a solid 3.4px;
        border-left: none;
    }
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    width: 80%;
}

.btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn:hover,
.btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content>.content {
    display: table;
    padding: 10px;
    height: 100%;
    width: 100%
}

.modal-content>header {
    background-color: #002664;
    color: white;
}

.modal-content>footer {
    background-color: #fff;
    padding: 4px;
    text-align: center;
}




.td-major {
    background-color: #bd0026;
    font-weight: 700;
    color: #ffffff
}
.td-major-sub {
    background-color: #efbfc9;
    font-weight: 700;
    color: #ffffff
}

.td-moderate {
    background-color: #fd8d3c;
    font-weight: 700;
}
.td-moderate-sub {
    background-color: #ffe3ce;
    font-weight: 700;
}

.td-minor {
    background-color: #e8e235;
    font-weight: 700;
}
.td-minor-sub {
    background-color: #f9f8cd;
    font-weight: 700;
}

.td-upper {
    background-color: #FEE090 !important;
}

.td-target {
    background-color: #bdc9e1 !important;
}

.td-expected {
    background-color: #0570b0 !important;
    color: #ecf0f1 !important;
}

.td-oplimit {
    background-color: #c2e699;
    font-weight: 700;
}


.td-range{
    width:10%;
    font-weight: 700;
}


.td-event{
    font-style:italic;
}

.td-note{
    text-align:center;
}

.td-return{
    font-style:italic;
    text-align:center;
    color: #002664 !important;
    font-weight:700;
}

.tr-break td{
    background-color: #fff !important;
    border-width:0px;
    text-align:center;
}