html, body {
    height: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.page-header, .page-footer {
    flex-shrink: 0
}

.page-content {
    flex-grow: 1;
    display: flex;
    height: calc(100vh - 58px)
}

.nav-column {
    order: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    width: 18px
}

.right-column {
    order: 2;
    display: flex;
    width: calc(100vh - 400px - 18px);
    flex-grow: 1
}

.esri-view {
    flex-grow: 1
}

.left-column {
    order: 0;
    width: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column
}

.left-column-header {
    height: 40px;
    flex-shrink: 0;
    align-items: center;
    display: flex
}

.left-column-header div {
    flex-grow: 1;
    padding: 4px 8px
}

.left-column-content {
    overflow-y: auto;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white
}

.btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold
}

.btn:hover, .btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer
}

.btnselected {
    background-color: #cdd3d6
}

.flowbtn, .basemapbtn {
    border: none;
    display: inline-block;
    padding: 2px 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 49%;
    border: 1px solid #495054;
    margin: 1px;
    border-radius: 3px
}

.flowbtn {
    background-color: #ebebeb
}

.basemapbtn {
    background-color: white
}

.flowbtn:hover, .basemapbtn:hover {
    color: #495054 !important;
    background-color: #cdd3d6 !important
}

.btnselected {
    background-color: #cdd3d6
}

strong {
    color: #002664
}

.subheading {
    font-size: 16px;
    font-weight: 600
}

.heading {
    font-size: 20px;
    font-weight: 800
}

.sidebar-hidden {
    display: none
}

.sidebar-toggle-btn-left {
    background-color: #d7153a;
    color: white;
    padding: 3px;
    cursor: pointer;
    height: 100%
}

.sidebar-toggle-btn-down {
    background-color: #d7153a;
    color: white;
    cursor: pointer;
    display: none;
    width: 100%;
    text-align: center
}

.legend-item {padding:0px 0px 5px 5px;}

@media screen and (max-width:767px) {
    .page-content {
        flex-direction: column
    }

    .right-column, .left-column {
        width: 100%
    }

    .right-column {
        order: 0;
        height: 60vh
    }

    .left-column {
        order: 2;
        max-height: calc(40vh - 58px)
    }

    .nav-column {
        order: 1;
        height: 20px;
        width: 100%
    }

    .sidebar-toggle-btn-left {
        display: none
    }

    .sidebar-toggle-btn-down {
        display: block
    }
}