body {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    background: #fff;
    margin: 0
}

.main {
    position: fixed;
    top: 48px;
    background-color: #00ebeb
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.sidebar {
    background-color: #eedc00;
    overflow-y: auto;
    padding: 10px;
    flex-basis: 250px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    transition: max-height .3s
}

.main-panel {
    background-color: #fff;
    flex-grow: 1;
    border-left: 3px solid #d7153a;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%
}

.sidebar-hidden {
    max-height: 0
}

.sidebar-hidden .sidebar-toggle-button {
    rotate: 0
}

.sidebar-toggle-button {
    background-color: #d7153a;
    color: #fff;
    border: none;
    padding: 6px 3px 6px 1px;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 6px;
    left: 0
}

.page-header {
    background-color: #002664;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 48px
}

.header-logo {
    margin-right: 10px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 3px
}

.header-text {
    display: flex;
    flex-direction: column
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ebebeb;
    padding: 3px;
    text-align: center;
    height: 12px
}

.footer-content {
    font-size: x-small;
    color: #495054;
    align-items: center;
    justify-content: space-between
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9)
}

.modal-content {
    background-color: #ebebeb;
    margin: 10% auto;
    width: 95%;
    max-width: 840px
}

.modal-header {
    display: flex;
    align-items: center;
    background-color: #002664;
    padding: 10px
}

.modal-body {
    max-height: calc(80vh - 200px);
    min-height: 50px;
    overflow-y: auto;
    padding: 10px;
    margin: 5px 5px;
    background-color: white
}

.modal-footer {
    text-align: right;
    padding: 10px
}

.modal button {
    padding: 10px 20px;
    background-color: #002664;
    color: white;
    border: none;
    cursor: pointer
}

.modal button:hover {
    opacity: .8
}

.header-btn {
    padding: 6px;
    background-color: #d7153a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-left: auto;
    font-weight: 700;
    font-size: 20px
}

.button-flat {
    display: inline-block;
    padding: 5px 15px;
    background-color: #cdd3d6;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    cursor: pointer
}

.button-flat:hover {
    background-color: #495054;
    color: white
}

.modal h2 {
    margin-top: 0
}

.modal p {
    margin-bottom: 20px
}

a.black-link {
    color: black
}

th {
    background: #ebebeb;
    text-align: center
}

tr {
    text-align: center
}

tr th:first-child, tr td:first-child {
    text-align: left
}

table tr:hover {
    background: #fafafa
}

table, td, th {
    border: 1px solid #cdd3d6;
    margin-left: auto;
    margin-right: auto
}

table {
    width: 90%;
    border-collapse: collapse
}

strong {
    color: #002664
}

.subheading {
    font-size: 16px;
    font-weight: 700
}

.heading {
    font-size: 22px;
    font-weight: 900
}

.title {
    font-size: 20px;
    color: white
}

.tool_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center
}

.tool_item {
    flex: 1 0 auto;
    text-align: center;
    margin: 10px
}

.div-indent {
    margin-left: 20px
}

.content {
    display: table;
    height: 100%;
    width: 100%
}

.page {
    display: table-row;
    height: 100%
}

.info {
    vertical-align: top;
    display: table-cell;
    height: 100%;
    width: 30%;
    padding: 4px
}

.map {
    display: table-cell;
    height: 100%
}

.flowbtn, .basemapbtn {
    border: none;
    display: inline-block;
    padding: 2px 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 49%;
    border: 1px solid #495054;
    margin: 1px;
    border-radius: 3px
}

.flowbtn {
    background-color: #ebebeb
}

.basemapbtn {
    background-color: white
}

.flowbtn:hover, .basemapbtn:hover {
    color: #495054 !important;
    background-color: #cdd3d6 !important
}

@media(max-width:768px) {
    .container {
        flex-direction: column
    }

    .sidebar {
        max-height: 100%;
        flex-basis: 100%;
        min-width: auto;
        transition: none
    }

    .main-panel {
        order: 1;
        border-left: none;
        border-bottom: 3px solid #d7153a;
        flex-basis: 100%;
        min-height: 0
    }

    .sidebar-toggle-button {
        margin-top: 10px;
        margin-left: 10px;
        rotate: 270deg;
        top: auto;
        bottom: 10px
    }
}