="<tr><td" & IF(ROUND(B3,0)=B3," class='strong'","") & ">"&TEXT(B3,"0.00")&"</td><td>"&C3&"</td><td "&IF(F3>1," class='td-"&F3&"'","")&">"&D3&"</td>"&IF(E3>0,"<td class='td-range'>"&E3&"</td>","")&"</tr>"
