body,
table {
    font-family: Arial;
    font-size: 12px;    background: #fff
    ;margin: 0
}

.logo {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

.header {
    color: #fff;
    background-color: #002664;
    width: 100%;
    position: fixed;
    padding: 10px;
    display: block;
    font-size: 18px;
    top:0px
}

.footer {
    width: 100%;
    color: #fff;
    background-color: #d7153a;
    text-align: center;
    display: block;
    padding: 1px 0;
}

.main {
    padding: 24px;
    padding-top: 56px;
}

a {
    color: inherit;
}

.td-major {
    background-color: #bd0026;
    font-weight: 700;
    color: #ffffff
}

.td-moderate {
    background-color: #fd8d3c;
    font-weight: 700;
}

.td-minor {
    background-color: #e8e235;
    font-weight: 700;
}

.td-upper {
    background-color: #FEE090;
}

.td-target {
    background-color: #bdc9e1;
}

.td-expected {
    background-color: #0570b0;
    color: #ecf0f1;
}

.td-indicated {
    background-color: #c2e699;
}

table {
    top:40px;
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
}

td,
th {
    border-color: #7e8c8d;
    border-width: 0.8px;
    border-style: solid;
}

tbody tr td:first-child {
    color: #000 !important;
    background-color: #ebebeb !important
}

thead tr th {
    color: #000 !important;
    background-color: #cdd3d6 !important
}
