body {font-family:Arial;font-size:12px;margin:6px;background:#fff}
th{background:#ebebeb;text-align:center;}
tr{text-align:center;}
tr th:first-child,tr td:first-child{text-align:left;}
table tr:hover{background:#fafafa;}
table, td, th {border: 1px solid #cdd3d6;margin-left: auto;margin-right: auto;}
table{width: 90%; border-collapse: collapse;}
strong{font-size:14px;color:#002664}
.heading{font-size:18px;font-weight:700;text-decoration: underline;}